@import "~bootstrap/scss/bootstrap";

.header {
  position: relative;
  min-width: 320px;
  background: radial-gradient(
    857.7px at 40.44% 51.15%,
    #0f0e8a 0%,
    #0e0f69 100%
  );
  min-height: 1150px;
  @include media-breakpoint-up(sm) {
    min-height: 920px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 800px;
  }
  overflow: hidden;

  :global(.header-star) {
    position: absolute;
    background: 50% 100%;
    min-height: 920px;
    width: 100%;
    pointer-events: none;
  }

  :global(.header-orbit) {
    position: absolute;
    background: 110% 14.13vh no-repeat;
    min-height: 920px;
    width: 100%;
    pointer-events: none;
  }

  :global(.header-bg) {
    position: absolute;
    mix-blend-mode: screen;
    background: 100% 14.87vh no-repeat;
    min-height: 920px;
    width: 100%;
    pointer-events: none;
  }

  .header-logo {
    position: absolute;
    top: 40px;
    left: 3em;
  }

  .top-menu {
    position: absolute;
    top: 48px;
    right: 1em;

    a {
      color: white;
      font-weight: 600;
      line-height: 24px;
      margin: 0 1em;
      font-size: 0.8em;

      &:hover {
        color: #5ddaf4;
        text-decoration: none;
      }
    }
  }
}
