@import "~bootstrap/scss/bootstrap";

.header {
  position: relative;
  min-width: 320px;
  background: linear-gradient(208.21deg, #4569ce -3.19%, #040b2d 116.19%);
  overflow: hidden;
}

.header-bg {
  @include media-breakpoint-down(sm) {
    background-position-x: -50%;
    background-position-y: -50%;
  }
}

.nodes {
  position: absolute;
  top: 25%;
  left: 80%;
  width: 100vw;
  max-width: 1032px;
  transform: translate(-50%, -50%);
  @include media-breakpoint-up(lg) {
    top: 40%;
  }
}

.top-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 0.7rem;
  font-weight: bold;

  > a {
    background: white;
    color: #2e4794;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);

    &:hover {
      text-decoration: unset;
    }
  }
}

.row-1 {
  margin-bottom: 5rem;
  padding-top: 10rem;
  text-align: left;
  font-size: 1.32rem;

  img {
    width: 4.7rem;
  }

  h1 {
    font-weight: bolder;
    font-size: 2.2rem;
  }

  > div {
    padding-left: 2rem;
  }
}

.row-2 {
  font-size: 1.25rem;
  padding-bottom: 6rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;
  }
}

.hr {
  border-top: 5px solid white;
  width: 120px;
}
