@import "~bootstrap/scss/bootstrap";

.background {
  background: white;

  .header {
    font-size: 2em;
  }

  a {
    color: #2747a0;
    display: block;
    padding: 0.5em 1em;
    text-align: left;
  }

  @include media-breakpoint-up(sm) {
    a {
      display: inline-block;
    }
  }
}
