@import "~bootstrap/scss/bootstrap";

.header {
  font-family: Montserrat;
  min-width: 320px;
  background: radial-gradient(
    857.7px at 40.44% 51.15%,
    #0f0e8a 0%,
    #0e0f69 100%
  );

  a {
    color: white;
    font-weight: 600;
    line-height: 24px;
    margin: 0 1em;

    &:hover {
      color: #5ddaf4;
      text-decoration: none;
    }

    @include media-breakpoint-up(md) {
      font-size: 0.8rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
  }

  .header-star {
    background: url("/assets/HEADER02/star.png") 50% 50%;
  }

  .header-orbit {
    background: url("/assets/HEADER02/orbit.png") 50% 50% no-repeat;
    min-height: 920px;
  }

  .header-logo {
    position: absolute;
    top: 40px;
    left: 70px;
  }

  .top-menu {
    position: absolute;
    top: 48px;
    right: 1em;
  }
}
