@import "~bootstrap/scss/bootstrap";

.offset-content {
  position: relative;
  top: -5rem;
  @include media-breakpoint-up(md) {
    top: -3rem;
  }

  > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
