@import "~bootstrap/scss/bootstrap";

.container {
  hr {
    border-top: 5px solid #242650;
    width: 120px;
  }
}

.offset-content {
  position: relative;
  top: -5rem;
  @include media-breakpoint-up(md) {
    top: -3rem;
  }

  > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.big-content {
  p {
    @include media-breakpoint-up(md) {
      padding: 0 2rem;
    }
  }
}

.small-content {
}

.big-content,
.small-content {
  > [class*="col-"] {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  p {
    color: #595b5a;
    font-size: 1rem;
    margin-top: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 0.94rem;
    }
  }
}
