@import "~bootstrap/scss/bootstrap";

.profit-container {
  margin-top: 3rem;

  img {
    width: 5rem;
    margin-bottom: 2rem;
  }

  h3 {
    color: #242650;
    font-weight: bold;
    font-size: 1.25rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1.1rem;
    @include media-breakpoint-up(md) {
      font-size: 0.9rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .profit-container:nth-child(even) {
    flex-direction: row-reverse;
  }
}
