.services {
  background: #03024e;

  .services-header {
    font-size: 2em;
  }

  .services-bg > .container {
    background: rgba(255, 255, 255, 0.1);
  }

  .content {
    font-size: 0.8em;
  }
}
